/* line 10, ../../../app/stylesheets/calendar.sass */
.main_content {
  margin-top: 80px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  margin-right: 0;
  margin: 0px auto;
  float: none;
  display: block;
}
/* line 11, ../../../app/stylesheets/calendar.sass */
.main_content .half_hour {
  height: 50px;
  border-bottom: 1px gray dotted;
}
/* line 14, ../../../app/stylesheets/calendar.sass */
.main_content .odd {
  background-color: #cccccc;
}
/* line 139, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .main_content {
  overflow-x: hidden;
}
/* line 22, ../../../app/stylesheets/calendar.sass */
.main_content a, .main_content a:link, .main_content a:hover {
  text-decoration: none;
  color: black;
  font-family: arial, helvetica;
}
/* line 26, ../../../app/stylesheets/calendar.sass */
.main_content a:hover {
  font-weight: bold;
}
/* line 28, ../../../app/stylesheets/calendar.sass */
.main_content .month_days {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 830px;
  margin-right: 0;
  display: inline-block;
  float: none;
  *display: inline;
}
/* line 139, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .main_content .month_days {
  overflow-x: hidden;
}
/* line 32, ../../../app/stylesheets/calendar.sass */
.main_content .month_days .day {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 110px;
  display: inline-block;
  float: none;
  *display: inline;
  float: none;
  height: 70px;
  vertical-align: middle;
  text-align: center;
  position: relative;
}
/* line 139, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .main_content .month_days .day {
  overflow-x: hidden;
}
/* line 40, ../../../app/stylesheets/calendar.sass */
.main_content .month_days .day .shim {
  height: 70px;
  display: inline-block;
  float: none;
  *display: inline;
  vertical-align: middle;
  width: 0px;
}
/* line 45, ../../../app/stylesheets/calendar.sass */
.main_content .month_days .day .text {
  display: inline-block;
  float: none;
  *display: inline;
  width: 20px;
  margin: 0px auto;
}
/* line 49, ../../../app/stylesheets/calendar.sass */
.main_content .month_days .last {
  margin-right: 0;
}
/* line 52, ../../../app/stylesheets/calendar.sass */
.main_content .month_box:hover {
  background-color: #aaaaaa;
}
/* line 54, ../../../app/stylesheets/calendar.sass */
.main_content .month_box {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  display: table-cell;
  text-align: center;
  float: none;
  height: 180px;
  vertical-align: middle;
  position: relative;
}
/* line 139, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .main_content .month_box {
  overflow-x: hidden;
}
/* line 62, ../../../app/stylesheets/calendar.sass */
.main_content .month_box .month_display {
  margin: 0px auto;
}
/* line 64, ../../../app/stylesheets/calendar.sass */
.main_content .border {
  border: 1px solid gray;
}
/* line 66, ../../../app/stylesheets/calendar.sass */
.main_content .last {
  margin-right: 0;
  margin-right: 0;
}
