@import blueprint
@import blueprint/form
@import compass/utilities/lists

=ilb
  display: inline-block 
  float: none
  *display: inline

body
.main_content
  form
    +blueprint-form
    label
      vertical-align: top
      padding: 10px
    .datetime
      li
        +ilb
        margin: 5px
        label
          display: none
        select
          width: 100px
          +ilb
  .title
    font-size: 25px
    padding: 10px 10px
    .title_edit_control
      float: right
  .day_count,.event_count
    margin-top: 2px
    padding: 2px
  .marked
    background-color: #bbd
  .half_hour
    height: 50px
    border-bottom: 1px gray dotted
    display: block
    position: relative
    .event_block
      .time
        position: absolute
        right: 0px
        top: 0px
        background-color: #eee
        border: 1px solid #ddd
        padding: 2px
      overflow-y: auto
      position: absolute
      top: 0px
      height: 100px
      width: 200px
      z-index: 50
      border: 1px solid #aaa
      background-color: #ddd
      .edit_box
        position: absolute
        bottom: 0px
        right: 0px
        padding: 2px
        background-color: #ccc

  .odd
    background-color: #ccc
  margin-top: 80px
  +column(24)
  +last
  margin: 0px auto
  float: none
  display: block
  a,a:link,a:hover
    text-decoration: none
    color: black
    font-family: arial,helvetica
  a:hover
    text-decoration: underline
  .month_days
    +column(21)
    +last
    +ilb
    .day
      +column(3)
      +ilb
      float: none
      height: 70px
      vertical-align: middle
      text-align: center
      position: relative
      .shim
        height: 70px
        +ilb
        vertical-align: middle
        width: 0px
      .text
        +ilb
        width: 20px
        margin: 0px auto
    .last
      +last
  .row
  .month_box:hover
    background-color: #aaa
  .month_box
    +column(6)
    display: table-cell
    text-align: center
    float: none
    height: 180px
    vertical-align: middle
    position: relative
    .month_display
      margin: 0px auto
  .border
    border: 1px solid gray
  .last
    +last
    margin-right: 0
